<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feilis.cloud.dao.OrderDao">
    <resultMap id="BaseResultMap" type="com.feilis.cloud.bean.Order">
        <result column="o_id" jdbcType="INTEGER" property="orderId"/>
        <result column="u_id" jdbcType="INTEGER" property="userId"/>
        <result column="p_id" jdbcType="INTEGER" property="productId"/>
        <result column="p_stock" jdbcType="INTEGER" property="orderStock"/>
    </resultMap>
    <sql id="Base_Column_List">
        o_id,u_id,p_id,p_stock
    </sql>

    <select id="getOrderById" resultMap="BaseResultMap" parameterType="INTEGER">
        select
        <include refid="Base_Column_List"></include>
        from p_order
        where p_id= #{oId}
    </select>

</mapper>